In [4]:
import requests
import pandas as pd
import numpy as np
import json

In [5]:
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'

In [6]:
response = requests.get(url)

In [7]:
data = response.json()

In [ ]:
data.keys()

In [41]:
essential_keys = ['events','teams','elements']

In [11]:
events_df = pd.DataFrame(data['events'])
teams_df = pd.DataFrame(data['teams'])
elements_df = pd.DataFrame(data['elements'])

In [17]:
events_df.head()

,id,name,deadline_time,average_entry_score,finished,data_checked,highest_scoring_entry,deadline_time_epoch,deadline_time_game_offset,highest_score,...,cup_leagues_created,h2h_ko_matches_created,chip_plays,most_selected,most_transferred_in,top_element,top_element_info,transfers_made,most_captained,most_vice_captained
0,1,Gameweek 1,2023-08-11T17:30:00Z,0,False,False,None,1691775000,0,None,...,False,False,"[{'chip_name': 'bboost', 'num_played': 46434},...",None,None,None,None,0,None,None
1,2,Gameweek 2,2023-08-18T17:15:00Z,0,False,False,None,1692378900,0,None,...,False,False,[],None,None,None,None,0,None,None
2,3,Gameweek 3,2023-08-25T17:30:00Z,0,False,False,None,1692984600,0,None,...,False,False,[],None,None,None,None,0,None,None
3,4,Gameweek 4,2023-09-01T17:30:00Z,0,False,False,None,1693589400,0,None,...,False,False,[],None,None,None,None,0,None,None
4,5,Gameweek 5,2023-09-16T10:00:00Z,0,False,False,None,1694858400,0,None,...,False,False,[],None,None,None,None,0,None,None

In [ ]:
events_df.columns

In [18]:
elements_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,75.0,None,232223,0,0,0,0,0,4,1.1,...,429,65,233,7,506,48,175,34,0.00,0.00
1,NaN,None,58822,0,0,0,0,0,2,1.5,...,524,151,9,3,349,125,264,92,0.81,0.00
2,NaN,None,153256,0,0,0,0,0,3,1.5,...,355,202,159,9,351,157,382,124,0.81,0.00
3,NaN,None,438098,0,0,0,0,0,3,2.5,...,137,89,526,208,291,125,423,140,0.54,0.36
4,NaN,None,226597,0,0,0,0,0,2,2.8,...,252,31,424,191,67,14,9,4,1.00,0.37

In [ ]:
elements_df.columns

In [ ]:
teams_df.columns

In [ ]:
if response.status_code == 200:
    data = response.json()
    
    for key in essential_keys:
        if key in data:
            value = data[key]
            
            # Create a DataFrame from the value
            df = pd.DataFrame(value)
            
            # Save the DataFrame to a CSV file
            csv_filename = f"{key}_data.csv"
            df.to_csv(csv_filename, index=False)
            
            print(f"Data for '{key}' saved to '{csv_filename}'\n")
        else:
            print(f"'{key}' not found in the API response.\n")
else:
    print("Failed to fetch data from the API.")

In [16]:
csv_fname = "elements_data2.csv"
elements_df.to_csv(csv_fname,index =True)